# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\sandboxes\CNAS\DJANGO\rapid-api-practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/rapid-api-practice.iml
/.idea/
rapidapipractice/__pycache__/__init__.cpython-39.pyc
rapidapipractice/__pycache__/settings.cpython-39.pyc
rapidapipractice/__pycache__/urls.cpython-39.pyc

